body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #3f86f0;
}
#gameContainer{
    position: relative;
    text-align: center;
}
#score {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1000;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    animation: pulse 2s infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

#canvas {
    max-width: 90%;
    height: auto;
    display: block; /* Zentriere das Canvas in der Mitte des Bildschirms */
    margin: auto;
}
@media (max-width: 600px) {
    /* Anpassungen für kleinere Bildschirme */
    #score {
        font-size: 20px;
    }
}

#pauseOverlay{
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 48px;
}

@keyframes pulse {
    0% { transform: scale(1) translateX(-50%); }
    50% { transform: scale(1.1) translateX(-50%); }
    100% { transform: scale(1) translateX(-50%); }
}

#gameOverScreen {
    display: none; /* Initial ausgeblendet */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Leicht transparenter schwarzer Hintergrund */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif; /* Moderne Schriftart */
    font-size: 24px; /* Größere Schrift */
}

#gameOverScreen p {
    margin: 20px 0;
}


button {
    background-color: #4CAF50; /* Grüne Farbe */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
#restartButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #e63946; /* Heller Rotton */
    border: none;
    border-radius: 5px; /* Abgerundete Ecken */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Sanfter Farbwechsel und Transformationsanimation */
}

#restartButton:hover {
    background-color: #f48b94; /* Hellere Farbe beim Hover */
    transform: scale(1.05); /* Leicht vergrößern beim Hover */
}

#gameOverScreen button {
    font-weight: bold;
    background-color: red;
    box-shadow: 0 4px #999;
}

#gameOverScreen button:hover {
    background-color: #ff4444;
}

#instructions {
    position: fixed;
    top: 20%;
    left: 10%;
    width: 80%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    z-index: 2000;
    text-align: left;
}

#howToPlayButton {
    display: block;
    margin: 20px auto;
}